**Q7 Data set: company1**


---

In [5]:
#initializing variables
sal=list()
title=list()
sal_usd=list()
emp_type=list()
experience=list()

#Getting Data from file
f=open("company1.csv","r")
data=f.readline()
while(True):

  data=f.readline()
  if not data:
    break;
  print(data)
  temp=data.split(",")
  sal.append(int(temp[4]))
  title.append(temp[3])
  sal_usd.append(int(temp[5]))
  emp_type.append(temp[2])
  experience.append(temp[1])

2023,below10,Full,Principal Data SciNewtist,80000,85847,ES,ES,L

2021,above10,Part,ML Newgineer,30000,30000,US,US,S

2023,above10,Part,ML Newgineer,25500,25500,US,US,S

2023,below10,Full,Data SciNewtist,175000,175000,CA,CA,M

2023,below10,Full,Data SciNewtist,120000,120000,CA,CA,M

2021,below10,Full,Applied SciNewtist,222200,222200,US,US,L

2022,below10,Full,Applied SciNewtist,136000,136000,US,US,L

2023,below10,Full,Data SciNewtist,219000,219000,CA,CA,M

2023,below10,Full,Data SciNewtist,141000,141000,CA,CA,M

2023,below10,Part,Data SciNewtist,147100,147100,US,US,M

2021,below10,Full,Data SciNewtist,90700,90700,US,US,M

2022,below10,Part,Data Analyst,130000,130000,US,US,M

2020,below10,Part,Data Analyst,100000,100000,US,US,M

2020,New,Full,Applied SciNewtist,213660,213660,US,US,L

2019,New,Part,Applied SciNewtist,130760,130760,US,US,L

2019,below10,Full,Data Modeler,147100,147100,US,US,M

2020,below10,Full,Data Modeler,90700,90700,US,US,M

2023,below10,Part,Data SciNewtist,170000,170000,US,US,M

2023,below10,Full,Data SciNewtist,150000,150000,US,US,M

2023,above10,Full,Data Analyst,150000,150000,US,US,M

2022,above10,Full,Data Analyst,110000,110000,US,US,M

2021,below10,Part,Rebelow10arch Newgineer,275000,275000,DE,DE,M

2023,below10,Part,Rebelow10arch Newgineer,174000,174000,DE,DE,M

2022,below10,Part,Analytics Newgineer,230000,230000,GB,GB,M






---



---


**1) Highest paid job title**



---

In [12]:
print(sal,"\n\n")

print(title[sal.index(max(sal))],"is Job title of highest paid employe")

[80000, 30000, 25500, 175000, 120000, 222200, 136000, 219000, 141000, 147100, 90700, 130000, 100000, 213660, 130760, 147100, 90700, 170000, 150000, 150000, 110000, 275000, 174000, 230000]


Rebelow10arch Newgineer is Job title of highest paid employe



---



---


**2) Highest salary in USD**


---

In [14]:
print(sal_usd,"\n\n")

print(max(sal_usd),"USD is highest salary\n\n")

[85847, 30000, 25500, 175000, 120000, 222200, 136000, 219000, 141000, 147100, 90700, 130000, 100000, 213660, 130760, 147100, 90700, 170000, 150000, 150000, 110000, 275000, 174000, 230000]


275000 USD is highest salary



---



---
**3) Count of part time employees**


---

In [13]:
print(emp_type,"\n\n")
frequency ={}
for emp in emp_type:
  if emp in frequency:
    frequency[emp]+=1
  else:
    frequency[emp]=1
print(frequency,"\n\n")

print(frequency['Part'],"employees are part time employeees")

['Full', 'Part', 'Part', 'Full', 'Full', 'Full', 'Full', 'Full', 'Full', 'Part', 'Full', 'Part', 'Part', 'Full', 'Part', 'Full', 'Full', 'Part', 'Full', 'Full', 'Full', 'Part', 'Part', 'Part']


{'Full': 14, 'Part': 10}


10 employees are part time employeees





---







---

**4) Count of full time employees**


---

In [9]:
print(frequency['Full'],"employees are full time employeees\n\n")

14 employees are full time employeees



---



---
**5) Count of newly joined employees**


---

In [15]:
print(experience,"\n\n")
frequency ={}
for level in experience:
  if level in frequency:
    frequency[level]+=1
  else:
    frequency[level]=1
print(frequency,"\n\n")

print(frequency['New'],"employees are newly joined employees")

['below10', 'above10', 'above10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'below10', 'New', 'New', 'below10', 'below10', 'below10', 'below10', 'above10', 'above10', 'below10', 'below10', 'below10']


{'below10': 18, 'above10': 4, 'New': 2}


2 employees are newly joined employees